* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

nav {
    width: 100%;
    position: sticky;
    top: 0;
    padding: 10px;
    background: linear-gradient(to bottom, rgba(226, 226, 226, 0.477), rgb(255, 255, 255));

}

.navbtn {
    border: none;
    background: transparent;
    display: none;
}

.navbtn>span {
    width: 27px;
    height: 3px;
    border-radius: 5px;
    background-color: #4bf145;
    display: block;
    margin-bottom: 3px;

}

h1 {
    text-align: center;
}

.icon {
    display: flex;
    align-items: baseline;
    animation: index 1 8s running normal;

}


.on {
    background-color: #4bf145;
    width: 10px;
    height: 10px;
    margin-left: 15px;

}

.bbtn span:hover {
    transform: rotate(-95deg);
}

.bbtn {
    border: none;
    background: transparent;
    padding: 0 10px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;

}

.items {
    position: absolute;
    /* top: 70px; */
    left: 0;
    width: 500px;
    height: 40vh;
    border-top: 1px solid #4bf145;
    background: linear-gradient(to top, rgb(226, 226, 226), rgb(255, 255, 255));
    display: none;
}

.items>span {
    margin-top: 20px;
    display: block;
    margin-bottom: 30px;
    margin-left: 40px;
}

.items>span a {
    text-decoration: none;
    /* color: #4bf145; */
    color: #383838;
    font-weight: 500;
}

.items>span a:hover {
    transition: 0.5s all ease-out;
    color: #4bf145;
    transform: translateX(20px);
    font-size: 1.2rem;
}

.items:hover {
    display: block;
}


.menstuff {
    position: relative;

}

.menstuff:hover {
    position: relative;

}

.menstuff:hover .items {
    width: 500px;
    display: block;
    position: absolute;

}

.femalestuff>button span:hover {
    transform: rotate(95deg);
}

.womenstuff:hover .items {
    width: 500px;
    display: block;
    position: absolute;
}

.brandstuff:hover .items {
    width: 500px;
    display: block;
    position: absolute;
}

/* .bbtn1:hover~.items {
    display: block;
    position: fixed;
}

.bbtn2:hover~.items {
    display: block;
    position: fixed;
}

.bbtn3:hover~.items {
    display: block;
    position: fixed;
} */
.search-btn {
    border: none;
    background: none;
    color: #4bf145;
}

.cart {
    border: none;
    background: transparent;
}

.cart .cartNotification {
    padding: 2px 4px;
    background-color: #4bf145;
    border-radius: 20px;
    color: white;
    font-weight: bold;
    font-size: 0.5rem;
}

.setting {
    border: none;
    background: transparent;
}

.setting span {
    color: #3f583e;
}


.brand1 {
    width: 100%;
    height: 80vh;
    background: url(images/pexels-photo-12194934.jpeg);
    background-position: center;
    background-size: 600px;
    animation: bbrand infinite 8s running normal;
}

@keyframes bbrand {
    0% {
        background-image: url(images/balenciaga.jpg);
        background-position: center;
        background-size: cover;
    }

    40% {
        background-image: url(images/versace.jpg);
        background-position: center;
        background-size: cover;
    }

    80% {
        background-image: url(images/balenciaga.jpg);
        background-position: center;
        background-size: cover;
    }

    100% {

        background: url(images/pexels-photo-12194934.jpeg);
        background-position: center;
        background-size: 600px;
    }


}



.brand1b {
    width: 100%;
    height: 80vh;
    background-color: rgba(0, 0, 0, 0.761);
}

.brand1b>div>h5 {
    color: white;
    font-size: 5rem;
    text-align: center;
}

.brand1b>div button {
    margin-top: 60px;
    padding: 15px 20px;
    border: none;
    background-color: #4bf145;
    color: white;
    font-weight: 500;
}

h2 {
    text-align: center;
    padding: 20px 0;
}

.sneakers {
    width: 100%;
}

.sneakers .row {
    justify-content: space-evenly;
}

.sneakers .row img {

    object-fit: cover;
    border-radius: 5px;
}

.sneakers .row>div button {
    display: block;
    border: none;
    background: none;
}

.product {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
}

.product .row>.women {
    background: url(images/WOM.jpg);
    background-position: center;
    background-size: cover;
    height: 50vh;
}

.product .row>.women>div {
    background: rgba(0, 0, 0, 0.658);
    width: 100%;
    height: 50vh;

}

.product .row>.men {
    background: url(images/ASSK.webp);
    background-position: center;
    background-size: cover;
    height: 50vh;
}

.product .row>.men>div {
    background: rgba(0, 0, 0, 0.658);
    width: 100%;
    height: 50vh;

}

.product p {
    text-align: center;
    font-size: 2rem;
    color: white;
    font-weight: bold;
}

.product button {
    border: none;
    background: none;
    border: 1px solid white;
    color: white;
    padding: 10px 20px;
}



.section2 {
    width: 100%;
}

.section2 .row {
    justify-content: space-evenly;
}

.section2 .row img {
    height: 50vh;
    object-fit: cover;
    border-radius: 5px;
}

.section2 .row>div button {
    display: block;
    border: none;
    background: none;
}

.search {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.486);
    animation: yy 1 6s running forwards;
    padding-top: 60px;
}

.search input {
    border: none;
    width: 100%;

}

.search input:focus {
    outline: none;
}

.search button {
    border: none;
    background: none;
    padding: 10px 20px;
    background-color: #4bf145;
    color: white;
    border-radius: 0 5px 5px 0;
}

.search>.d-flex>.serch {
    width: 30%;
    background-color: white;
    padding: 40px 0;

}

.searchhouse {
    border: 1px solid #d1d1d1a9;
    border-right: none;
    width: 70%;
    border-radius: 10px;

}

footer {
    margin-top: 90px;
    width: 100%;
    background: linear-gradient(to bottom, rgba(226, 226, 226, 0.477), rgb(255, 255, 255));
}

footer .footerContent {
    padding-top: 30px;
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

footer .more>p {
    font-weight: 500;
    font-size: 1.3rem;
}

footer .more>div span {
    display: block;
    line-height: 4;
}

footer .more>div span a {
    color: #383838;
    text-decoration: none;

}

footer .contact>p {
    font-weight: 500;
    font-size: 1.3rem;
}

footer .contact>div>div p {
    font-weight: 500;
    font-size: 0.9rem;
}

footer .contact>div ul li a {
    text-decoration: none;
    color: #3f583e;
}

@media screen and (max-width:1130px) {
    .group1 {
        width: 100%;
        grid-template-columns: 24% 24% 24%;
    }

}

@media screen and (max-width:900px) {
    .bbtnNone {
        display: none;
    }

    .itemsNone {
        display: none;
    }

    .navbtn {
        display: block;
    }

    .group1 {
        width: 100%;
        grid-template-columns: 30% 30% 30%;
        box-sizing: border-box;
    }

    .section1 {
        background-size: 60%;
        box-sizing: border-box;

    }

    .section1>div {

        font-size: 2rem;
        font-weight: 500;
    }


    @keyframes buy {
        0% {
            font-size: 1.5rem;
        }

        40% {
            font-size: 2rem;
        }


    }

    .group1>div p {
        font-size: 1.1rem;
        font-weight: 500;
    }

    .section2 {
        width: 90%;
        display: flex;
        justify-content: center;
    }

    .section2 .row {
        justify-content: center;
    }

    .sneakers {
        width: 90%;
        display: flex;
        justify-content: center;
    }

    .sneakers .row {
        justify-content: center;
    }

    footer .footerContent {

        width: 90%;

    }
}

@media screen and (max-width:700px) {
    body {
        width: 100%;
    }

    nav {
        width: 100%;
    }

    .group1 {
        grid-template-columns: 80%;
        box-sizing: border-box;
    }

}

@media screen and (max-width:530px) {
    .brandName {
        font-size: 1.3rem !important;
    }

    .brand {
        font-size: 3rem !important;
    }

    .brand1b>div button {

        padding: 0;
        padding: 12px 12px;
        font-size: 1rem;
        font-weight: 500;
    }

    .section1 {

        height: 40vh;

        background-size: 40%;
        background-size: 80%;


    }

    .section1>div {

        font-size: 1rem;
        font-weight: 600;
        animation: buy infinite 6s running normal;
        color: #4bf145;

    }


    @keyframes buy {
        0% {
            font-size: 1rem;
        }

        40% {
            font-size: 1.5rem;
        }


    }

    .brand1 {
        height: 80vh;
    }


}

@media screen and (max-width:600px) {
    footer .footerContent {

        display: block;


    }
}

@media screen and (max-width:400px) {
    .section1>div {

        font-size: 1.3rem;
        font-weight: 600;
        animation: buy infinite 6s running normal;
        color: #4bf145;

    }

    @keyframes buy {
        0% {
            font-size: 1rem;
        }

        40% {
            font-size: 1.3rem;
        }


    }
}