* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.togbtn {
    display: block;
    border: none;
    background: none;
    margin: 20px 0 0 20px;
}

.togbtn span {
    width: 30px;
    height: 2.3px;
    background-color: #4bf145;
    margin-bottom: 4px;
    display: block;
}


.exitbtn button {
    border: none;
    background: none;
    color: #4bf145;
    font-size: 1.3rem;
}

.imguploaded img {
    width: 100%;
    height: 340px;
    object-fit: cover;
}

.icon {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px 0;
    background: linear-gradient(to bottom, rgba(226, 226, 226, 0.477), rgb(255, 255, 255));
    display: flex;
    justify-content: space-evenly !important;
}

button {
    display: block;
}

.icon button {
    padding-top: 10px;
    border: none;
    background: none;
    color: #394739;
}

.icon button>p {
    font-size: 1rem;
    font-weight: 500;
    text-transform: capitalize;
    color: #262e26;
}


.productShow {
    width: 100%;

}

.productShow .head {
    text-align: center;
    padding-top: 20px;
    font-size: 1.6rem;
    font-weight: 500;
    color: #262e26;
}

.productPreviewHouse {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.productPreviewHouse .productPreview {
    width: 70%;
    display: grid;
    grid-template-columns: 30% 70%;
    border: 1px solid #c0c0c0;
    padding: 10px;
}

.productPreviewHouse .productPreview>div img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.productDetails {
    padding-left: 20px;
}

.productDetails .brandP {
    font-size: 1.8rem;
    font-weight: 500;
}

.productDetails .brandPName {
    font-size: 1.3rem;
    font-weight: 400;
}

.productDetails .brandDescription {
    font-size: 1rem;
    line-height: 2;
}

.btnSection {
    padding-left: 20px;
    display: flex;
    align-items: flex-end;
}

.btnSection button {
    align-self: flex-end;
    background: none;
    margin: 10px 10px;
}

.btnSection .push {
    color: #4bf145;
    border: none;
    text-decoration: underline;
}

.productShowNone {
    display: none;
}

.modaldelete {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.432);
    display: flex;
    justify-content: center;
    align-items: center;
}

.confirmation {
    width: 30%;
    background-color: white;
    text-align: center;

    border-radius: 5px;
    padding-top: 50px;

}

.confirmation p {
    font-size: 1.1rem;
}

.confirmation>div .bt1 {
    border: none;

    background: #4bf145;
    padding: 10px 10px;
    color: white;
    border-radius: 5px;
    margin-bottom: 10px;
}

.confirmation>div .bt2 {
    border: 1px solid #4bf145;
    background: none;
    padding: 10px 10px;
    color: #394739;
    border-radius: 5px;
    margin-bottom: 10px;
}

.confirmation .down {
    background-color: #4bf145;
    padding: 20px 0;
}

.modaldeletenone {
    display: none;
}

.edit_delbtn {
    border: none;
    color: #4bf145;
}

@media screen and (max-width:1240px) {
    .productPreviewHouse .productPreview {
        grid-template-columns: 100%;

    }

    .productImg {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .productPreviewHouse .productPreview>div img {
        width: 300px;
        height: 300px;
        object-fit: cover;
    }

    .productDetails .brandP {

        text-align: center;
    }

    .productDetails .brandPName {
        text-align: center;
    }

    .productDetails .brandQuantity {
        text-align: center;
        border: 1px solid rgb(197, 197, 197);

    }

    .productDetails .brandDescription {
        line-height: 2;
        text-align: justify;
    }

    .btnSection {
        padding-left: 20px;
        justify-content: center;
    }

    .confirmation {
        width: 40%;

    }


}

@media screen and (max-width:800px) {
    .confirmation {
        width: 50%;

    }
}

@media screen and (max-width:550px) {
    .confirmation {
        width: 70%;

    }

    .confirmation p {
        font-size: 0.9rem;
    }
}





@media (max-width:430px) {
    .icon {
        justify-content: unset;
    }

    .icon button>p {
        font-size: 0.8rem;

    }

    .productPreviewHouse .productPreview {
        width: 80%;
        grid-template-columns: 100%;

    }

    .productDetails {
        padding-left: unset;
    }

    .productImg {
        width: unset;

    }

    .btnSection {
        padding-left: unset;

    }

    .productPreviewHouse .productPreview>div img {
        width: 100%;
        height: 300px;
        object-fit: cover;
    }

    .productDetails .brandP {
        font-size: 1.3rem;
        font-weight: 500;
        text-align: left;
    }

    .productDetails .brandPName {
        font-size: 1.1rem;
        font-weight: 400;
        text-align: left;
    }

    .productDetails .brandQuantity {
        text-align: left;
        padding: 10px 0;
    }

    .productDetails .brandDescription {
        font-size: 1rem;
        line-height: 1.5;
        text-align: justify;
    }

    .btnSection {
        justify-content: left;
    }

}

@media screen and (max-width: 350px) {
    .productPreviewHouse .productPreview>div img {
        width: 100%;
        height: 250px;
        object-fit: cover;
    }
}

@media screen and (max-width: 300px) {


    .productPreviewHouse .productPreview {
        width: 95%;
    }

    .confirmation>div .bt1 {
        padding: unset;
        font-size: 0.9rem;
        padding: 5px 5px;
    }

    .confirmation>div .bt2 {
        padding: unset;
        font-size: 0.9rem;
        padding: 5px 5px;
    }



}